@using MSIT147thGraduationTopic.Models.Dtos.Recommend;
@model (IEnumerable<RecommendSpecDisplayDto>,IEnumerable<RecommendSpecDisplayDto>,IEnumerable<RecommendSpecDisplayDto>)
@{
    ViewBag.Title = "首頁";
    var popularSpecs = Model.Item1.ToArray();
    var favorableSpecs = Model.Item2.ToArray();
    var newSpecs = Model.Item3.ToArray();
}



<!-- 輪播圖 -->

<div id="carouselExampleIndicators" class="carousel slide custom-carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="custom-home-carousel-1 ">
                <div class="container p-5">

                    <div class="row gx-5 align-items-center justify-content-center pt-3">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">各式精選優質寵物用品，助你為毛孩打造舒適家園！</h1>
                                <p class="lead fw-normal text-white-50 mb-4">
                                    每一個寵物都是獨特的個體，所以為牠們選擇合適的用品至關重要。在這裡，我們精選了各種高品質、實用性強的寵物用品，助你打造一個舒適、安全的家園。
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-warning btn-lg px-4 me-sm-3" href="#merchandise1">瀏覽商品</a>
                                    <a class="btn btn-outline-warning btn-lg px-4" href="~/Mall/Index/">查看更多</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                            <img class="img-fluid rounded-3 my-5 custom-carousel-image" src="@Url.Content("~/images/homepage/pet-supply-1.jpeg")"
                                 alt="..." />
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <div class="custom-home-carousel-2">
                <div class=" container p-5">
                    <div class="row gx-5 align-items-center justify-content-center pt-3">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">
                                    擁有優秀評價的寵物用品，讓你的毛孩擁有舒適、健康的生活！
                                </h1>
                                <p class="lead fw-normal text-white-50 mb-4">
                                    寵物的快樂與舒適是我們的共同使命，選擇適合的寵物用品是實現這一目標的關鍵。在這裡，我們整理了一些經過評價良好的寵物用品，助你為你的毛孩打造一個愛的天堂
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-warning btn-lg px-4 me-sm-3" href="#merchandise2">瀏覽商品</a>
                                    <a class="btn btn-outline-warning btn-lg px-4" href="~/Mall/Index/">查看更多</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                            <img class="img-fluid rounded-3 my-5 custom-carousel-image" src="@Url.Content("~/images/homepage/pet-supply-2.jpg")"
                                 alt="..." />
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div class="carousel-item bg-dark">
            <div class="custom-home-carousel-3">
                <div class=" container p-5">
                    <div class="row gx-5 align-items-center justify-content-center pt-3">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">新品優惠！選購優質寵物產品，給你的毛孩帶來舒適和樂趣！</h1>
                                <p class="lead fw-normal text-white-50 mb-4">
                                    為了讓你的寵物獲得最佳的照顧，我們特別挑選了一系列優質寵物產品，並且現在它們正在特價優惠中！不僅能節省金錢，更能給你的毛孩帶來無比的舒適和樂趣。別錯過這些優惠，立即為你的寵物選購吧！
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-warning btn-lg px-4 me-sm-3" href="#merchandise3">瀏覽商品</a>
                                    <a class="btn btn-outline-warning btn-lg px-4" href="~/Mall/Index/">查看更多</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                            <img class="img-fluid rounded-3 my-5 custom-carousel-image" src="@Url.Content("~/images/homepage/pet-supply-3.jpg")"
                                 alt="..." />
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- 販售商品2.0熱銷商品 -->
<section class="py-5 " id="merchandise1">
    <div class="mt-5 me-5">

        <div class="row position-relative">
            <div class="custom-jumpout">
                <div class="custom-title my-5 shadow-lg bg-dark" data-aos="flip-left" data-aos-anchor-placement="top-bottom">
                    <div class="custom-title2">
                        <div class="custom-title3 d-flex  align-items-center">
                            <p class="text-light">熱銷商品</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4">
            </div>

            <div class="col-xxl-8">
                <div class="row row-cols-sm-2 row-cols-xl-4  justify-content-center merchandises-container">

                    @for (int i = 0; i < popularSpecs.Length; i++)
                    {
                        var spec = popularSpecs[i];
                        int duration = 400 + 300 * (i % 4);
                        string imageUrl = "/merchandisePicture/default.png";
                        if (!string.IsNullOrEmpty(spec.MerchandiseImageName)) imageUrl = "/merchandisePicture/" + spec.MerchandiseImageName;
                        if (!string.IsNullOrEmpty(spec.SpecImageName)) imageUrl = "/specPicture/" + spec.SpecImageName;

                        <div class="px-2">
                            <div class="bg-dark p-1 mb-4 rounded shadow" data-aos="zoom-out-up"
                                 data-aos-anchor-placement="center-bottom" data-aos-duration="@duration">
                                <div class="card p-2 custom-merchandise bg-light rounded-0">
                                    <figure class="rounded bg-warning recommend-image-container">
                                        <img src="@(Url.Content("~/uploads")+imageUrl)" class="card-img-top"
                                             alt="...">
                                    </figure>

                                    <div class="card-body">
                                        <a class="stretched-link" href="~/Mall/Viewpage/?MerchandiseId=@(spec.MerchandiseId)&SpecId=@(spec.SpecId)"></a>

                                        <div class="mb-3" style="height:55px;overflow:hidden">
                                            <p class="h4 fw-bolder text-decoration-none link-dark fs-5 p-2">
                                                @spec.MerchandiseName
                                            </p>
                                        </div>

                                        <div class="d-flex" style="height:25px">
                                            @if (spec.DiscountPercentage != 100)
                                            {
                                                <div class="ms-auto"><del class="text-secondary fs-6">$@(spec.Price)</del></div>
                                                <div class="ms-2 badge bg-danger bg-gradient rounded-pill mb-1">@(100 - spec.DiscountPercentage)%OFF</div>
                                            }
                                        </div>

                                        <div style="height:50px">
                                            <div class="d-flex justify-content-between mt-3 ">

                                                <div>
                                                    <p class="h4 fw-bolder text-decoration-none link-dark fs-3 text-secondary">
                                                        <i class="fa-solid fa-star text-warning me-1"></i>@(spec.EvaluationScore.ToString("0.0"))
                                                    </p>

                                                </div>
                                                <p class="h4 fw-bolder text-decoration-none link-dark fs-3 text-danger">

                                                    $@(spec.Price * spec.DiscountPercentage / 100)
                                                </p>

                                            </div>
                                        </div>





                                    </div>

                                </div>
                            </div>
                        </div>
                    }



                </div>

            </div>

        </div>



    </div>
</section>


<!-- 販售商品2.0好評商品 -->
<section class="py-5 " id="merchandise2">
    <div class="mt-5">

        <div class="row position-relative m-0">


            <div class="custom-jumpout">
                <div class="custom-title-reverse my-5 shadow-lg bg-dark ms-auto" data-aos="flip-right" data-aos-anchor-placement="top-bottom">
                    <div class="custom-title2-reverse">
                        <div class="custom-title3 d-flex align-items-center">
                            <p class="ms-auto text-light">好評商品</p>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-xxl-8 ms-5">
                <div class="row row-cols-sm-2 row-cols-xl-4  justify-content-center  merchandises-container">


                    @for (int i = 0; i < favorableSpecs.Length; i++)
                    {
                        var spec = favorableSpecs[i];
                        int duration = 400 + 300 * (i % 4);
                        string imageUrl = "/merchandisePicture/default.png";
                        if (!string.IsNullOrEmpty(spec.MerchandiseImageName)) imageUrl = "/merchandisePicture/" + spec.MerchandiseImageName;
                        if (!string.IsNullOrEmpty(spec.SpecImageName)) imageUrl = "/specPicture/" + spec.SpecImageName;

                        <div class="px-1">
                            <div class="bg-dark p-1 mb-4 rounded shadow" data-aos="zoom-out-up"
                                 data-aos-anchor-placement="center-bottom" data-aos-duration="@duration">
                                <div class="card p-2 custom-merchandise bg-light rounded-0">
                                    <figure class="rounded bg-warning recommend-image-container">
                                        <img src="@(Url.Content("~/uploads")+imageUrl)" class="card-img-top"
                                             alt="...">
                                    </figure>

                                    <div class="card-body">
                                        <a class="stretched-link" href="~/Mall/Viewpage/?MerchandiseId=@(spec.MerchandiseId)&SpecId=@(spec.SpecId)"></a>

                                        <div class="mb-3" style="height:55px;overflow:hidden">
                                            <p class="h4 fw-bolder text-decoration-none link-dark fs-5 p-2">
                                                @spec.MerchandiseName
                                            </p>
                                        </div>

                                        <div class="d-flex" style="height:25px">
                                            @if (spec.DiscountPercentage != 100)
                                            {
                                                <div class="ms-auto"><del class="text-secondary fs-6">$@(spec.Price)</del></div>
                                                <div class="ms-2 badge bg-danger bg-gradient rounded-pill mb-1">@(100 - spec.DiscountPercentage)%OFF</div>
                                            }
                                        </div>

                                        <div style="height:50px">
                                            <div class="d-flex justify-content-between mt-3 ">

                                                <div>
                                                    <p class="h4 fw-bolder text-decoration-none link-dark fs-3 text-secondary">
                                                        <i class="fa-solid fa-star text-warning me-1"></i>@(spec.EvaluationScore.ToString("0.0"))
                                                    </p>

                                                </div>
                                                <p class="h4 fw-bolder text-decoration-none link-dark fs-3 text-danger">

                                                    $@(spec.Price * spec.DiscountPercentage / 100)
                                                </p>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    }



                </div>

            </div>

        </div>



    </div>
</section>


<!-- 販售商品2.0熱銷商品 -->
<section class="py-5 " id="merchandise3">
    <div class="mt-5 me-5">

        <div class="row position-relative">
            <div class="custom-jumpout">
                <div class="custom-title my-5 shadow-lg bg-dark" data-aos="flip-left" data-aos-anchor-placement="top-bottom">
                    <div class="custom-title2">
                        <div class="custom-title3 d-flex  align-items-center">
                            <p class="text-light">新品上架</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4">
            </div>


            <div class="col-xxl-8">
                <div class="row row-cols-sm-2 row-cols-xl-4  justify-content-center  merchandises-container">


                    @for (int i = 0; i < newSpecs.Length; i++)
                    {
                        var spec = newSpecs[i];
                        int duration = 400 + 300 * (i % 4);
                        string imageUrl = "/merchandisePicture/default.png";
                        if (!string.IsNullOrEmpty(spec.MerchandiseImageName)) imageUrl = "/merchandisePicture/" + spec.MerchandiseImageName;
                        if (!string.IsNullOrEmpty(spec.SpecImageName)) imageUrl = "/specPicture/" + spec.SpecImageName;

                        <div class="px-1">
                            <div class="bg-dark p-1 mb-4 rounded shadow" data-aos="zoom-out-up"
                                 data-aos-anchor-placement="center-bottom" data-aos-duration="@duration">
                                <div class="card p-2 custom-merchandise bg-light rounded-0">
                                    <figure class="rounded bg-warning recommend-image-container">
                                        <img src="@(Url.Content("~/uploads")+imageUrl)" class="card-img-top"
                                             alt="...">
                                    </figure>

                                    <div class="card-body">
                                        <a class="stretched-link" href="~/Mall/Viewpage/?MerchandiseId=@(spec.MerchandiseId)&SpecId=@(spec.SpecId)"></a>

                                        <div class="mb-3" style="height:55px;overflow:hidden">
                                            <p class="h4 fw-bolder text-decoration-none link-dark fs-5 p-2">
                                                @spec.MerchandiseName
                                            </p>
                                        </div>

                                        <div class="d-flex" style="height:25px">
                                            @if (spec.DiscountPercentage != 100)
                                            {
                                                <div class="ms-auto"><del class="text-secondary fs-6">$@(spec.Price)</del></div>
                                                <div class="ms-2 badge bg-danger bg-gradient rounded-pill mb-1">@(100 - spec.DiscountPercentage)%OFF</div>
                                            }
                                        </div>

                                        <div style="height:50px">
                                            <div class="d-flex justify-content-between mt-3 ">

                                                <div>
                                                    <p class="h4 fw-bolder text-decoration-none link-dark fs-3 text-secondary">
                                                        <i class="fa-solid fa-star text-warning me-1"></i>@(spec.EvaluationScore.ToString("0.0"))
                                                    </p>

                                                </div>
                                                <p class="h4 fw-bolder text-decoration-none link-dark fs-3 text-danger">

                                                    $@(spec.Price * spec.DiscountPercentage / 100)
                                                </p>

                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    }




                </div>

            </div>

        </div>



    </div>
</section>




<div id="backToTop">
    <a class="btn btn-outline-warning">
        <i class="fa-solid fa-angles-up fs-1"></i>
    </a>
</div>


@section Scripts{
    <script>
        $(".custom-merchandise").parent().hover(
            e => $(e.currentTarget).addClass("shadow-lg bg-danger").removeClass("bg-dark"),
            e => $(e.currentTarget).removeClass("shadow-lg bg-danger").addClass("bg-dark")
        )
        $(".custom-merchandise").parent().mouseover(e => e.currentTarget.customAnimate('pulse', 'animate__faster'))

    </script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/homepage/homepage.css" />
    <style>

    </style>
}



