@model (string,string)
@{
    ViewData["Title"] = "Welcome";
    Layout = "_BackstagePage";
    string userName = Model.Item1;
    string role = Model.Item2;
}


<div class="container mt-5">
    <div class="d-flex mt-5 py-5 justify-content-center">
        <h1>歡迎進入福祿壽寵物用品商城後台管理統!!</h1>
    </div>
    <div class="d-flex mt-4 py-5 justify-content-center">
        <h2 class="mt-auto">
            <span class="p-2">@(role)</span><span class="p-2">@(userName)</span>已登入
        </h2>
    </div>
    <div class="row row-cols-2 row-cols-lg-4">
        <div class="p-5">
            <div class="custom-link-box m-auto d-flex flex-column position-relative">
                <div class="text-center fs-1 mt-auto mb-3">
                    <i class="fa-solid fa-basket-shopping"></i>
                </div>
                <div class="text-center mb-auto fs-2">
                    <a class="link-dark stretched-link" href="@Url.Content("~/Merchandises/Index")">商品管理</a>
                </div>
            </div>
        </div>

        <div class="p-5">
            <div class="custom-link-box m-auto d-flex flex-column position-relative">
                <div class="text-center fs-1 mt-auto mb-3">
                    <i class="fa-solid fa-user-group"></i>
                </div>
                <div class="text-center mb-auto fs-2">
                    <a class="link-dark stretched-link" href="@Url.Action("MemberList","MemberBackstage")">會員管理</a>
                </div>
            </div>
        </div>

        <div class="p-5">
            <div class="custom-link-box m-auto d-flex flex-column position-relative">
                <div class="text-center fs-1 mt-auto mb-3">
                    <i class="fa-solid fa-money-check-dollar"></i>
                </div>
                <div class="text-center mb-auto fs-2">
                    <a class="link-dark stretched-link" href="@Url.Action("Index","CouponsBackstageSettings")">優惠卷管理</a>
                </div>
            </div>
        </div>

        <div class="p-5">
            <div class="custom-link-box m-auto d-flex flex-column position-relative">
                <div class="text-center fs-1 mt-auto mb-3">
                    <i class="fa-solid fa-chart-column"></i>
                </div>
                <div class="text-center mb-auto fs-2">
                    <a class="link-dark stretched-link" href="@Url.Action("Sales","Statistic")">查看統計</a>
                </div>
            </div>
        </div>

        @*<div>
            <i class="fa-solid fa-user-group"></i>
            <a href="">會員管理</a>
        </div>
        <div>
            <i class="fa-solid fa-money-check-dollar"></i>
            <a href="">優惠卷管理</a>
        </div>
        <div>
            <i class="fa-solid fa-chart-column"></i>
            <a href="">查看統計</a>
        </div>*@


    </div>

</div>


@section Scripts{
    <script>

    </script>
}


@section Styles{
    <style>
        .custom-link-box {
            height: 200px;
            width: 200px;
            border: 5px #000 double;
        }
    </style>
}
