@using MSIT147thGraduationTopic.ViewComponents﻿
@model IEnumerable<MSIT147thGraduationTopic.Models.ViewModels.MallViewPageVM>

@{
    Layout = "_MallPage";
    ViewData["Title"] = "尋找商品";
    string txtKeyword = Context.Request.Cookies["Mall_txtKeyword"] ?? "";
    int searchCondition = int.TryParse(Context.Request.Cookies["Mall_searchCondition"], out int temp1) ? temp1 : 1;
    int displayorder = int.TryParse(Context.Request.Cookies["Mall_displayorder"], out int temp2) ? temp2 : 0;
    int pageSize = int.TryParse(Context.Request.Cookies["Mall_pageSize"], out int temp3) ? temp3 : 20;
}

<!-- 搜尋列 / 分頁 / 排序(新舊.價格) -->
<nav class="bd-subnavbar py-2 mt-5 mb-2" aria-label="Secondary navigation">
    <div class="container-xxl d-flex align-items-md-center">
        <!-- 關鍵字搜尋 -->
        <form class="bd-search position-relative me-auto col-md-6" id="keywordsearch">
            <div class="row">
                <div class="form-group">
                    <div class="input-group">
                        <!-- 選擇搜尋條件 -->
                        <label class="input-group-text" for="selectSearchCondition">選擇搜尋條件</label>
                        <select class="form-select conditionname" name="selectSearchCondition">
                            <option value="1">商品名稱</option>
                            <option value="2">品牌名稱</option>
                            <option value="3">類別名稱</option>
                        </select>
                        <!-- 輸入關鍵字 -->
                        <input type="search" class="form-control ds-input" name="txtKeyword" id="search-input" placeholder="搜尋關鍵字" aria-label="Text input with dropdown button">
                        <input type="submit" value="尋找商品" class="btn btn-secondary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>


<div class="container">
    <div class="row">
        <!-- 側邊工具列 -->
        <div class="col-12 col-md-2 my-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
                <div class="container-fluid ">
                    <!-- 小視窗時摺疊按鈕 -->
                    <button class="navbar-toggler" href="#sublist" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- 小視窗時摺疊區域 -->
                    <div class="navbar-collapse collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav flex-column" id="sublist" style="margin-top:10px">
                            <!-- 摺疊選單 for 商品類別 -->
                            <li>
                                <div>商品類別</div>
                                <ul id="categoryOptions" class="mx-4">
                                    @*<li class="my-1 ">
                                    <a href="#" class="selectCategory" val-category="類別ID">類別名稱</a>
                                    </li>*@
                                </ul>
                            </li>
                            <!-- 摺疊選單 for 寵物類型 -->
                            <li>
                                <div>寵物類型</div>
                                <ul id="tagOptions" class="mx-4">
                                    @*<li class="my-1">
                                    <a href="#" class="selectTag" val-tag="標籤ID">寵物類別 (商品數)</a>
                                    </li>*@
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- 中間商品欄 -->
        <div class="col-12 col-md-10">
            <div class="container ">
                <div class="row">
                    <div class="col-12 col-md-5 py-3">
                        <div class="item">
                            <!-- 主圖 -->
                            <figure class="ViewWindow-image-container">
                                <img id="mainPicture" class="pb-3">
                            </figure>
                            <div class="image-container">
                                <!-- 縮圖 -->
                                <img src="@Url.Content("~/uploads/merchandisePicture/")default.png" class="mainImage specImage mb-2" style="border:solid #930000 3px;" )>
                                @{
                                    foreach (var item in Model)
                                    {
                                        string img = (item.ImageUrl == null) ? "default.png" : item.ImageUrl;
                                        <img src="@Url.Content("~/uploads/specPicture/")@img" class="specImage mb-2" val-specId="@item.SpecId">
                                        
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 pt-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" id="defaultSearch"><a href="#">商品總覽</a></li>
                                <li class="breadcrumb-item" id="showCategoryName">類別名稱</li>
                            </ol>
                        </nav>
                        <h5 id="showBrandName"></h5>
                        <span>
                            <i class="fa-solid fa-star text-warning me-1 ms-auto my-auto"></i>
                            <span id="score"></span>
                        </span>
                        <h2 id="showMerchandiseName">商品名稱</h2><div id="merchandiseIdContainer" val-id="@Model.First().MerchandiseId" style="display:none"></div>
                        <br>
                        <h5>價格：<span id="showPrice"></span></h5>
                        <h5>庫存數量：<span id="showAmount"></span></h5>
                        <h5>產品介紹：</h5>
                        <p id="showDescription"></p>
                        <div>
                            @{
                                foreach (var item in Model)
                                {
                                    string img = (item.ImageUrl == null) ? "default.png" : item.ImageUrl;
                                    <button type="button" class="btn btn-outline-secondary mx-1 my-1 showSpec" data-price="@item.Price" data-amount="@item.Amount" data-imageurl="@img" data-specId="@item.SpecId" data-discountPercentage="@item.DiscountPercentage" data-score="@item.Score">@item.SpecName</button>
                                }
                            }
                        </div>
                        <div>
                            <div class="input-group mx-1 mt-3">
                                <button class="btn btn-outline-secondary" type="button" id="button_minus">  -  </button>
                                <input id="buyAmount" type="number" step="1" class="form-control" aria-label="Example text with button addon" min="1" value="1" aria-describedby="button-addon1">
                                <button class="btn btn-outline-secondary" type="button" id="button_plus">  +  </button>
                                <button id="add_to_Cart" type="button" class="btn btn-outline-secondary mx-2">加入購物車</button>
                            </div>

                        </div>
                        <br>
                        <div class="text-end">共計：<span id="totalPrice"></span></div>
                    </div>
                </div>
            </div>
            <!-- 推薦商品/商品評價 -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-merchandise-tab" data-bs-toggle="tab" data-bs-target="#nav-merchandise" type="button" role="tab" aria-controls="nav-merchandise" aria-selected="true">推薦商品</button>
                    <button class="nav-link" id="nav-evaluation-tab" data-bs-toggle="tab" data-bs-target="#nav-evaluation" type="button" role="tab" aria-controls="nav-evaluation" aria-selected="false">商品評價</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-merchandise"  role="tabpanel" aria-labelledby="nav-merchandise-tab">
                    @await Html.PartialAsync("Partial/FavorSpecs",Model.First().MerchandiseId)
                    @await Html.PartialAsync("Partial/PopularSpecs",Model.First().MerchandiseId)
                </div>
                <div class="tab-pane fade" id="nav-evaluation" role="tabpanel" aria-labelledby="nav-evaluation-tab" style="position: relative;">
                    @await Component.InvokeAsync(nameof(EvaluationVC),Model.First().MerchandiseId)
                    @*@await Html.PartialAsync("~/Views/Evaluation/_MerchandiseEvaluation.cshtml")*@
                </div>                
            </div>                      
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/recommend/partialview.js"></script>
    <script>
        // #region 搜尋相關功能
        //給予搜尋初值
        let txtKeyword = "@txtKeyword";
        let searchCondition = @searchCondition;
        let sideCategoryId = 0;
        let tagId = 0;
        //設定搜尋條件呈現
        $(() => {
            $(`.conditionname > option[value=${searchCondition}]`).attr("Selected", true);
            $("#search-input").val(txtKeyword);
        })

        //搜尋條件
        $(".conditionname").on("change", (e) => {
            searchCondition = $(".conditionname").val();
        });
        //關鍵字
        $("#keywordsearch").on("submit", (e) => {
            txtKeyword = $("#search-input").val();
            e.preventDefault();
            SearchProducts();
        });
        //回到所有商品(重置搜尋條件)
        $("#defaultSearch").on("click", () => {
            window.location.href = `/Mall/Index/?searchCondition=${searchCondition}&displayorder=@displayorder&pageSize=@pageSize`;
        });
        //搜尋
        function SearchProducts() {
            window.location.href = `/Mall/Index/?txtKeyword=${txtKeyword}&`
                + `searchCondition=${searchCondition}&sideCategoryId=${sideCategoryId}&tagId=${tagId}&displayorder=@displayorder&pageSize=@pageSize`;
        };
        // #endregion

        //呈現側邊商品類別選項
        $(async () => {
            const CategoryOptions = document.querySelector("#categoryOptions")
            const responseforCategory = await fetch(`@Url.Content("~/ApiMall/GenerateSideCategoryOptions")`);
            const returnCategoryBag = await responseforCategory.text();
            const CategoryResult = JSON.parse(returnCategoryBag);

            var categoryList = CategoryResult.map(category => {
                const { categoryId, categoryName } = category;
                return (`<li class="my-1 "><a href="#" class="selectCategory" val-category="${categoryId}">${categoryName}</a></li>`)
            })
            CategoryOptions.innerHTML = categoryList.join("");

            $(".selectCategory").on("click", (e) => {
                sideCategoryId = $(e.currentTarget).attr("val-category");
                SearchProducts();
            })
        })

        //呈現側邊寵物類別選項
        $(async () => {
            const TagOptions = document.querySelector("#tagOptions")
            const responseforTag = await fetch(`@Url.Content("~/ApiMall/GenerateSideTagOptions")`);
            const returnTagBag = await responseforTag.text();
            const TagResult = JSON.parse(returnTagBag);

            var tagList = TagResult.map(tag => {
                const { tagId, tagName } = tag;
                return (`<li class="my-1 "><a href="#" class="selectTag" val-tag="${tagId}">${tagName}</a></li>`)
            })
            TagOptions.innerHTML = tagList.join("");

            $(".selectTag").on("click", (e) => {
                tagId = $(e.currentTarget).attr("val-tag");
                SearchProducts();
            })
        })

        //給予購買數初值
        let currentSpecid;
        let purchaseAmount = 1;
        let originalPrice;
        let currentPrice;
        let maxAmount;
        let score;

        //產生商品資料
        $(async () => {
            const CategoryName = document.querySelector("#showCategoryName");
            const BrandName = document.querySelector("#showBrandName");
            const MerchandiseName = document.querySelector("#showMerchandiseName");
            const Description = document.querySelector("#showDescription");

            const merchandiseId = $("#merchandiseIdContainer").attr("val-id");

            const response = await fetch(`@Url.Content("~/ApiSpec/ShowMerchandise/")${merchandiseId}`);
            const returnJsonBag = await response.text();
            const searchResult = JSON.parse(returnJsonBag)[0];

            CategoryName.innerHTML = searchResult.categoryName;
            BrandName.innerHTML = `《${searchResult.brandName}》`;
            MerchandiseName.innerHTML = searchResult.merchandiseName;
            Description.innerHTML = searchResult.description;
            const imgPath = (searchResult.imageUrl == null) ? "default.png" : searchResult.imageUrl;
            $(".mainImage").attr("src", `@Url.Content("~/uploads/merchandisePicture/")${imgPath}`);

            //載入頁面時自動選擇目標規格按鈕
            $(".showSpec[data-specId=@ViewBag.SpecId]").click();
        })

        //規格按鈕功能
        $(".showSpec").on("click", (e) => {
            //變更目前規格按鈕格式
            $(".showSpec").attr("class", "btn btn-outline-secondary mx-1 my-1 showSpec");
            $(e.currentTarget).attr("class", "btn btn-primary mx-1 my-1 showSpec");
            //顯示評分
            score = (Math.round($(e.currentTarget).attr("data-score") * 10) / 10).toFixed(1);
            $("#score").text(score);
            //顯示價格&庫存
            const showPrice = document.querySelector("#showPrice");
            originalPrice = $(e.currentTarget).attr("data-price");
            discountPercentage = $(e.currentTarget).attr("data-discountPercentage");
            const canceledPrice = (discountPercentage == 100) ? '' :
                `<del class="text-secondary mt-auto" style="font-size:3px">$<span>${originalPrice}</span></del>`;
            currentPrice = originalPrice * discountPercentage / 100;
            let currentSinglePrice = Math.floor(currentPrice);

            maxAmount = $(e.currentTarget).attr("data-amount");
            showPrice.innerHTML = canceledPrice + " NTD$" + currentSinglePrice;
            $("#showAmount").text(maxAmount);
            //設定購買數初值&最大值 + 重置總金額
            $("#buyAmount").attr("max", maxAmount);
            purchaseAmount = 1;
            $("#buyAmount").val(purchaseAmount);
            $("#buyAmount").change();
            //紀錄規格ID
            currentSpecid = $(e.currentTarget).attr("data-specId");
            //變更主圖片
            $(".specImage").attr("style", "");
            $(`.specImage[val-specId=${currentSpecid}]`).attr("style", "border:solid #930000 3px");
            const thisImg = $(e.currentTarget).attr("data-imageurl");
            console.log(thisImg);
            $("#mainPicture").attr("src", `@Url.Content("~/uploads/specPicture/")${thisImg}`)
        });

        // #region 縮圖功能
        //點選規格縮圖視同點選規格按鈕
        $(".specImage").on("click", (e) => {            
            const imageSpecId = $(e.currentTarget).attr("val-specId");
            $(`.showSpec[data-specId=${imageSpecId}]`).click();
        });
        //點選商品縮圖變更主圖片
        $(".mainImage").on("click", (e) => {
            //變更縮圖外框
            const thisImgPath = $(e.currentTarget).attr("src");
            $(".specImage").attr("style", "");
            $(e.currentTarget).attr("style", "border:solid #930000 3px");
            $("#mainPicture").attr("src", thisImgPath);
        });
        // #endregion

        // #region 選擇購買數量
        //增減選擇數
        $("#button_minus").on("click", () => {
            if (purchaseAmount > 1) {
                purchaseAmount--;
                $("#buyAmount").val(purchaseAmount);
                $("#buyAmount").change();
            }
        })
        $("#button_plus").on("click", () => {
            if (purchaseAmount < maxAmount) {
                purchaseAmount++;
                $("#buyAmount").val(purchaseAmount);
                $("#buyAmount").change();
            }
        })
        //控制手動輸入數字(變數皆默認為字串，須注意比較前須轉型)
        $("#buyAmount").on("input", () => {
            const inputedNumber = $("#buyAmount").val();
            purchaseAmount = (+inputedNumber < 1) ? 1 :
                (+inputedNumber > +maxAmount) ? maxAmount :
                    (+inputedNumber % 1 !== 0) ? Math.round(+inputedNumber) : inputedNumber;
            $("#buyAmount").val(purchaseAmount)
            $("#buyAmount").change();
        })
        //顯示總金額
        $("#buyAmount").on("change", () => {
            let totalPrice = Math.floor(purchaseAmount * currentPrice);
            $("#totalPrice").text(totalPrice + " 元");
        })
        // #endregion

        // #region 加入購物車
        //叫出登入功能塊
        const loginModal = new bootstrap.Modal(document.querySelector('#loginModal'))
        //加入購物車
        $("#add_to_Cart").on("click", async (e) => {
            if (ROLE != "會員") {
                await Swal.fire('請登入以使用購物車');
                loginModal.show();   //使用js檔中的登入方法，登入成功則刷新原頁面//
            }
            if (ROLE == "會員") {  //傳送資料
                const responseCart = await fetch(`@Url.Content("~/ApiMall/AddtoCart/")?SpecId=${currentSpecid}&Quantity=${purchaseAmount}`, {
                    method: "POST"
                });
                const returnJsonBag = await responseCart.text();
                const isSuccess = JSON.parse(returnJsonBag);

                if (isSuccess) {
                    Swal.fire({
                        position: 'center',
                        title: '成功加入購物車！',
                        showConfirmButton: false,
                        timer: 500,
                        allowOutsideClick: false
                    })
                    refreshNavbarCart();
                }
                if (!isSuccess) {
                    Swal.fire({
                        position: 'center',
                        title: '加入購物車失敗，請稍後再試！',
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            }
        })
        // #endregion
    </script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/recommend/partialview.css" />
    <style>
        li {
            list-style: none;
        }

        select {
            max-width: 120px;
            min-width: 120px
        }

        .ViewWindow-image-container {
            width: 100%;
            position: relative;
            padding-top: 100%;
        }

            .ViewWindow-image-container img {
                position: absolute;
                top: 0%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin:auto;
            }

        .image-container img {
            margin: 5px 10px;
        }

        .specImage {
            width: 100%;
            max-width: 100px;
            height: 100%;
            max-height: 100px;
            object-fit: cover;
        }        

        a {
            text-decoration: none;
        }
    </style>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        textarea {
            height: 200px;
        }
    </style>
}