@model MSIT147thGraduationTopic.Models.ViewModels.SpecVM

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "編輯規格資料";
}

<div class="container">
    <h1 class="title">編輯規格資料</h1>

    <div class="bg-light rounded shadow p-5">
        <h4>輸入規格資料</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="Post" name="forminput" id="forminput" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SpecId" />
                    <div class="form-group">
                        <label class="control-label">商品名稱</label>
                        <input class="form-control" id="merchandisename" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="SpecName" class="control-label"></label>
                        <input asp-for="SpecName" class="form-control" id="inputspecname" />
                        <span asp-validation-for="SpecName" class="text-danger foralert" id="alertspanforname"></span>
                    </div>
                    <div class="form-group" style="display:none">
                        <label asp-for="MerchandiseId" class="control-label"></label>
                        <input asp-for="MerchandiseId" class="form-control" id="showmerchandiseid" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" min="1" id="inputprice" />
                        <span asp-validation-for="Price" class="text-danger foralert" id="alertspanforprice"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" min="0" id="inputamount" />
                        <span asp-validation-for="Amount" class="text-danger foralert" id="alertspanforamount"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Popularity" class="form-check-input" style="display:none" />
                        <input asp-for="deleteImageIndicater" class="form-check-input" style="display:none" id="deleteImageIndicater" />
                        <input asp-for="ImageUrl" class="form-control" style="display:none" id="origimageurl" />

                        <label class="col-form-label">選擇新圖片</label>
                        <input class="form-control" type="file" id="selectfile" name="photo">
                        <span class="text-danger foralert" id="alertspanforimage"></span>

                        <div class="alert alert-secondary mt-2" id="containdisplay">
                            @{ string imageurl = string.IsNullOrEmpty(Model.ImageUrl) ? "default.png" : Model.ImageUrl; }
                            <img id="display" src="@Url.Content("~/uploads/specPicture/" + imageurl)" />
                            <button id="imageCancel" class="btn btn-warning">復原圖片</button>
                            @{ string displayCancel = (string.IsNullOrEmpty(Model.ImageUrl)) ? "display:none" : "display:inline"; }
                            <button id="imageDelete" class="btn btn-warning" style=@displayCancel>刪除圖片</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiscountPercentage" class="control-label"></label>
                        <input asp-for="DiscountPercentage" class="form-control" min="1" max="100" id="inputdiscount" />
                        <span asp-validation-for="DiscountPercentage" class="text-danger foralert" id="alertspanfordiscount"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DisplayOrder" class="control-label"></label>
                        <input asp-for="DisplayOrder" class="form-control" min="1" id="inputorder" />
                        <span asp-validation-for="DisplayOrder" class="text-danger foralert" id="alertspanfororder"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="OnShelf" /> @Html.DisplayNameFor(model => model.OnShelf)
                        </label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <input type="submit" value="儲存變更" class="btn btn-primary" id="submit" />
                        @Html.ActionLink("取消", "Index", "Specs", new { merchandiseid = Model.MerchandiseId, displaymode=ViewBag.displaymode, displayorder=ViewBag.displayorder }, new { @class = "btn btn-secondary" })
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // #region 產生商品名稱
        const merchandiseid = $("#showmerchandiseid").val();

        $(() => {
            const xhr = new XMLHttpRequest();
            xhr.open("GET", `/ApiSpec/ShowMerchandise/${merchandiseid}`);
            xhr.send();

            xhr.addEventListener("load", () => {
                const datas = JSON.parse(xhr.responseText);
                var merchandise = datas[0].merchandiseName;
                console.log(merchandise);
                $("#merchandisename").val(merchandise);
            })
        });
        // #endregion

        // #region 產生圖片路徑、預覽圖片
        const originalImageUrl = ($("#origimageurl").val());
        const originalImagePath = originalImageUrl
            ? "@Url.Content("~/uploads/specPicture/")" + originalImageUrl
            : "@Url.Content("~/uploads/specPicture/default.png")";

        const display = document.querySelector("#display");
        const imageCancel = document.querySelector("#imageCancel");
        const imageDelete = document.querySelector("#imageDelete");

        DisplayImage();

        imageCancel.addEventListener("click", (e) => {
            e.preventDefault();
            selectfile.files = null;
            selectfile.outerHTML = selectfile.outerHTML;
            $("#origimageurl").val(originalImageUrl);
            display.src = originalImagePath;
            imageCancel.style.display = "none";
            imageDelete.style.display = (originalImageUrl)
                ? "inline" : "none";
            $("#deleteImageIndicater").val(false);
            DisplayImage();
        })

        imageDelete.addEventListener("click", (e) => {
            e.preventDefault();
            selectfile.files = null;
            selectfile.outerHTML = selectfile.outerHTML;
            display.src = "/uploads/specPicture/default.png";
            imageCancel.style.display = (originalImageUrl)
                ? "inline" : "none";
            imageDelete.style.display = "none";
            $("#deleteImageIndicater").val(true);
            DisplayImage();
        })

        function DisplayImage() {
            const selectfile = document.querySelector("#selectfile");
            selectfile.addEventListener("change", () => {
                $("#alertspanforimage").html("");
                const [file] = selectfile.files;
                if (file) {
                    display.src = URL.createObjectURL(file);
                    imageCancel.style.display = "inline";
                    imageDelete.style.display = "none";
                } else {
                    display.src = originalImagePath;
                    imageCancel.style.display = "none";
                    imageDelete.style.display = "inline";
                }
            })
        }
        // #endregion
        
        // #region 錯誤提示訊息
        const alertName = document.querySelector("#alertspanforname");
        const alertPrice = document.querySelector("#alertspanforprice");
        const alertAmount = document.querySelector("#alertspanforamount");
        const alertImage = document.querySelector("#alertspanforimage");
        const alertDiscount = document.querySelector("#alertspanfordiscount");
        const alertDisplayOrder = document.querySelector("#alertspanfororder");

        const submit = document.querySelector("#submit");
        submit.addEventListener("click", async (event) => {
            event.preventDefault();
            $(".foralert").html("");

            var formdata = new FormData(document.forminput);
            const response = await fetch(`@Url.Content("~/ApiSpec/CheckforEditSpec")`, {
                body: formdata,
                method: "POST"
            });
            const returnJsonBag = await response.text()
            const checkResult = JSON.parse(returnJsonBag)
            const checkName = checkResult[0]
            const checkFile = checkResult[1]

            if (!$("#inputspecname").val()) alertName.innerHTML = "請輸入規格名稱";
            if (checkName) alertName.innerHTML = "已有同名規格，請重新命名";
            if ($("#inputprice").val() < 1) alertPrice.innerHTML = "價格須為正整數";
            if ($("#inputamount").val() < 0) alertAmount.innerHTML = "庫存數量應至少為0";
            if ($("#inputdiscount").val() <= 0 || $("#inputdiscount").val() > 100) alertDiscount.innerHTML = "請輸入介於1-100的數字";
            if ($("#inputorder").val() < 1) alertDisplayOrder.innerHTML = "排序順序須為正整數";
            if (checkFile) {
                alertImage.innerHTML = "檔案格式不合，請重新上傳";
                selectfile.files = null;
                selectfile.outerHTML = selectfile.outerHTML;
                display.src = originalImagePath;
                imageCancel.style.display = "none";
                imageDelete.style.display = (originalImageUrl) ? "inline" : "none";
                DisplayImage();
            }
            if ($("#inputspecname").val() && !checkName && $("#inputprice").val() > 0 && $("#inputamount").val() >= 0 &&
                $("#inputdiscount").val() > 0 && $("#inputdiscount").val() <= 100 &&
                $("#inputorder").val() > 0 && !checkFile) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: '規格資料修改成功！',
                    showConfirmButton: false,
                    timer: 800,
                    allowOutsideClick: false
                }).then(() => {
                    const forminput = document.querySelector("#forminput");
                    HTMLFormElement.prototype.submit.call(forminput);
                })
            }
        })
                // #endregion
    </script>
}

@section Styles{
    <style>
        .title {
            margin-top: 30px;
            margin-bottom: 10px;
        }

        #containdisplay {
            height: 200px;
        }

        #display {
            max-height: 170px;
            margin: 10px, 0;
        }

        #imageCancel {
            display: none;
            float: right;
        }

        #imageDelete {
            float: right;
        }
    </style>
}