@model MSIT147thGraduationTopic.Models.ViewModels.MerchandiseVM

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "編輯商品資料";
    string txtKeyword = Context.Request.Cookies["txtKeyword"] ?? "";
    int searchCondition = int.TryParse(Context.Request.Cookies["searchCondition"], out int temp1) ? temp1 : 1;
    int PageIndex = int.TryParse(Context.Request.Cookies["PageIndex"], out int temp2) ? temp2 : 1;
    int displayorder = int.TryParse(Context.Request.Cookies["displayorder"], out int temp3) ? temp3 : 0;
    int displaymode = int.TryParse(Context.Request.Cookies["displaymode"], out int temp4) ? temp4 : 1;
    int pageSize = int.TryParse(Context.Request.Cookies["pageSize"], out int temp5) ? temp5 : 10;
}

<div class="container">
    <h1 class="title">編輯商品資料</h1>

    <div class="bg-light rounded shadow p-5">
        <h4>輸入商品資料</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="Post" name="forminput" id="forminput" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MerchandiseId" />
                    <div class="form-group">
                        <label asp-for="MerchandiseName" class="control-label"></label>
                        <input asp-for="MerchandiseName" class="form-control" id="inputname" />
                        <span asp-validation-for="MerchandiseName" class="text-danger foralert" id="alertspanforname"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandId" class="control-label"></label>
                        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId" id="inputbrandid"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId" id="inputcategoryid"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" id="descriptionarea"></textarea>
                        <div>※商品描述限制500字，目前字數：<span id="countdiscription"></span></div>
                        <span asp-validation-for="Description" class="text-danger foralert" id="alertspanfordescription"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="ImageUrl" class="control-label"></label>*@
                        <input asp-for="deleteImageIndicater" class="form-check-input" style="display:none" id="deleteImageIndicater" />
                        <input asp-for="ImageUrl" class="form-control" style="display:none" id="origimageurl" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>

                        <label class="col-form-label">選擇新圖片</label>
                        <input class="form-control" type="file" id="selectfile" name="photo">
                        <span class="text-danger foralert" id="alertspanforimage"></span>

                        <div class="alert alert-secondary mt-2" id="containdisplay">
                            @{ string imageurl = string.IsNullOrEmpty(Model.ImageUrl) ? "default.png" : Model.ImageUrl; }
                            <img id="display" src="@Url.Content("~/uploads/merchandisePicture/" + imageurl)" />
                            <button id="imageCancel" class="btn btn-warning">復原圖片</button>
                            @{ string displayCancel = (string.IsNullOrEmpty(Model.ImageUrl)) ? "display:none" : "display:inline"; }
                            <button id="imageDelete" class="btn btn-warning" style = @displayCancel>刪除圖片</button>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Display" /> @Html.DisplayNameFor(model => model.Display)
                        </label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <input type="submit" value="儲存變更" class="btn btn-primary" id="submit" />
                        @Html.ActionLink("取消", "Index", "Merchandises", new { txtKeyword = txtKeyword, searchCondition = searchCondition,
                        PageIndex = PageIndex, displayorder = displayorder, displaymode = displaymode, pageSize = pageSize }, new { @class = "btn btn-secondary" })
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- 產生下拉選項 -->
    <script>
        // #region 產生品牌、類別下拉選項
        const brand = document.querySelector("#inputbrandid");
        const category = document.querySelector("#inputcategoryid");

        brand.addEventListener("load", () => {
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/ApiMerchandise/GenerateBrandOptions");
            xhr.send();

            xhr.addEventListener("load", () => {
                const datas = JSON.parse(xhr.responseText);
                var brands = datas.map(b => {
                    return (`<option value="${b.BrandId}">${b.BrandName}</option>`)
                })
                brand.innerHTML = brands.join("");
            })
        })

        category.addEventListener("load", () => {
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/ApiMerchandise/GenerateCategoryOptions");
            xhr.send();

            xhr.addEventListener("load", () => {
                const datas = JSON.parse(xhr.responseText);
                var categories = datas.map(c => {
                    return (`<option value="${c.CategoryId}">${c.CategoryName}</option>`)
                })
                brand.innerHTML = categories.join("");
            })
        })
        // #endregion

        // #region 產生圖片路徑、預覽圖片
        const originalImageUrl = $("#origimageurl").val();
        const originalImagePath = originalImageUrl
            ? "@Url.Content("~/uploads/merchandisePicture/")" + originalImageUrl
            : "@Url.Content("~/uploads/merchandisePicture/default.png")";

        const display = document.querySelector("#display");
        const imageCancel = document.querySelector("#imageCancel");
        const imageDelete = document.querySelector("#imageDelete");

        DisplayImage();

        imageCancel.addEventListener("click", (e) => {
            e.preventDefault();
            selectfile.files = null;
            selectfile.outerHTML = selectfile.outerHTML;
            $("#origimageurl").val(originalImageUrl);
            display.src = originalImagePath;
            imageCancel.style.display = "none";
            imageDelete.style.display = (originalImageUrl)
                ? "inline" : "none";
            $("#deleteImageIndicater").val(false);
            DisplayImage();
        })

        imageDelete.addEventListener("click", (e) => {
            e.preventDefault();
            selectfile.files = null;
            selectfile.outerHTML = selectfile.outerHTML;
            display.src = "/uploads/merchandisePicture/default.png";
            imageCancel.style.display = (originalImageUrl)
                ? "inline" : "none";
            imageDelete.style.display = "none";
            $("#deleteImageIndicater").val(true);
            DisplayImage();
        })

        function DisplayImage() {
            const selectfile = document.querySelector("#selectfile");
            selectfile.addEventListener("change", () => {
                const [file] = selectfile.files;
                if (file) {
                    display.src = URL.createObjectURL(file);
                    imageCancel.style.display = "inline";
                    imageDelete.style.display = "none";
                } else {
                    display.src = originalImagePath;
                    imageCancel.style.display = "none";
                    imageDelete.style.display = "inline";
                }
            })
        }
        // #endregion

        // #region 錯誤提示訊息
        const alertName = document.querySelector("#alertspanforname");
        const alertDescription = document.querySelector("#alertspanfordescription");
        const alertImage = document.querySelector("#alertspanforimage");

        const submit = document.querySelector("#submit");
        submit.addEventListener("click", async (event) => {
            event.preventDefault();
            $(".foralert").html("");

            var formdata = new FormData(document.forminput);
            const response = await fetch(`@Url.Content("~/ApiMerchandise/CheckforEditMerchandise")`, {
                body: formdata,
                method: "POST"
            });
            const returnJsonBag = await response.text()
            const checkResult = JSON.parse(returnJsonBag)
            const checkName = checkResult[0]
            const checkFile = checkResult[1]

            if (!$("#inputname").val()) alertName.innerHTML = "請輸入商品名稱";
            if (checkName) alertName.innerHTML = "已有同名商品，請重新命名";
            if ($("#descriptionarea").val().length > 500) alertDescription.innerHTML = "商品說明不可多於500字，請縮短長度";
            if (checkFile) {
                alertImage.innerHTML = "檔案格式不合，請重新上傳";
                selectfile.files = null;
                selectfile.outerHTML = selectfile.outerHTML;
                display.src = originalImagePath;
                imageCancel.style.display = "none";
                imageDelete.style.display = (originalImageUrl) ? "inline" : "none";
                DisplayImage();
            }
            if ($("#inputname").val() && !checkName && 
                $("#descriptionarea").val().length <= 500 && !checkFile) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: '商品資料修改成功！',
                    showConfirmButton: false,
                    timer: 800,
                    allowOutsideClick: false
                }).then(() => {
                    const forminput = document.querySelector("#forminput");
                    HTMLFormElement.prototype.submit.call(forminput);
                })
            }
        })
        // #endregion

        // #region 計算商品描述字數
        $("#countdiscription").text($("#descriptionarea").val().length);

        const descriptionarea = document.querySelector("#descriptionarea")
        descriptionarea.addEventListener("keyup", () => {
            $("#countdiscription").text($("#descriptionarea").val().length);
        })
                // #endregion
    </script>
}

@section Styles{
    <style>
        .title {
            margin-top: 30px;
            margin-bottom: 10px;
        }

        #containdisplay {
            height: 200px;
        }

        #display {
            max-height: 170px;
            margin: 10px, 0;
        }

        #descriptionarea {
            height: 150px;
            overflow: auto;
        }

        #imageCancel {
            display: none;
            float: right;
        }

        #imageDelete {
            float: right;
        }
    </style>
}
