@using MSIT147thGraduationTopic.Models.Dtos;
@model CouponDto
@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "優惠券管理系統";
    var listEditData = Model;
}

<header class="container px-5 mt-5">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a id="hrefHomePage">優惠券管理系統</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">打折優惠券修改頁面</li>
        </ol>
    </nav>
</header>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">打折優惠券修改頁面</h1>
                    <p class="lead fw-normal text-muted mb-0"></p>
                </div>
                <div class="container px-5 my-5">
                    <div class="">
                        <form id="edit" name="edit" method="post" enctype="multipart/form-data" data-index="-1" class="need-validation row justify-content-center" novalidate>
                            <div class="col-8 mb-3">
                                <input type="hidden" id="CouponId" name="CouponId" value="@Model.CouponId" class="form-control">
                            </div>
                            <div class="col-8 mb-3">
                                優惠券名稱<input type="text" id="CouponName" name="CouponName" value="@Model.CouponName" class="form-control" placeholder="請輸入優惠券名稱">
                            </div>
                            <div class="col-8 mb-3">
                                適用對象<select id="CouponTagId" name="CouponTagId" value="@Model.CouponTagId" class="form-select form-control" placeholder="請選擇適用對象">
                                    <option value="0">全部</option>
                                    <option value="1">貓</option>
                                    <option value="2">狗</option>
                                    <option value="3">鼠</option>
                                    <option value="4">兔</option>
                                </select>
                            </div>
                            <div class="col-8 mb-3">
                                開始日期<input id="CouponStartDate" name="CouponStartDate" value="@Model.CouponStartDate.ToString("yyyy-MM-dd")" type="date" class="form-control" placeholder="請輸入使用期限">
                            </div>
                            <div class="col-8 mb-3">
                                結束日期<input id="CouponEndDate" name="CouponEndDate" value="@Model.CouponEndDate.ToString("yyyy-MM-dd")" type="date" class="form-control" placeholder="請輸入使用期限">
                            </div>
                            <div class="col-8 mb-3">
                                折扣百分比<input id="CouponDiscount" name="CouponDiscount" value="@Model.CouponDiscount.ToString("#'%'")" type="number" class="form-control" placeholder="請輸入折扣百分比" min="1" max="99">
                            </div>
                        </form>
                    </div>
                    <div class="row justify-content-center px-5 my-5">
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" id="btnEdit">修改</button>
                            <button type="button" class="btn btn-primary" id="btnBack">返回</button>
                        </div>
                        <div class="my-3">
                            <button class="btn btn-outline-secondary" id="demoAnswer">demoAnswer</button>
                        </div>
                        <div class="my-3">
                            <button class="btn btn-outline-secondary" id="demoName">demoName</button>
                        </div>
                        <div class="my-3">
                            <button class="btn btn-outline-secondary" id="demoDate">demoDate</button>
                        </div>
                        <div class="my-3">
                            <button class="btn btn-outline-secondary" id="demoDiscountNon">demoDiscountNon</button>
                        </div>
                        <div class="my-3">
                            <button class="btn btn-outline-secondary" id="demoDiscountOver">demoDiscountOver</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    
</body>

@section Styles{
    <style>
    </style>
}

@section Scripts{
    <script>
        //const couponId = '@Model.CouponId';

        $('#btnEdit').click(async function () {
            const discountInput = $('input[name="CouponDiscount"]');
            const discountValue = parseFloat(discountInput.val());
            const startDateInput = $('input[name="CouponStartDate"]');
            const endDateInput = $('input[name="CouponEndDate"]');
            const startDate = new Date(startDateInput.val());
            const endDate = new Date(endDateInput.val());

            //驗證
            if (startDate > endDate) {
                Swal.fire({
                    icon: 'error',
                    title: '失敗',
                    text: '請檢查日期格式是否正確',
                });
                return;
            }

            if (!discountValue) {
                Swal.fire({
                    icon: 'error',
                    title: '失敗',
                    text: '折扣為必填欄位',
                });
                return;
            }

            if (discountValue < 0 || discountValue > 100) {
                Swal.fire({
                    icon: 'error',
                    title: '失敗',
                    text: '折扣必須介於1到99',
                });
                return;
            }

            const form = document.getElementById('edit');
            if (form.checkValidity()) {
                const formData = new FormData(form);
                const couponId = $('#CouponId').val()
                const editUrl = `@Url.Content($"~/api/apicoupon/")${couponId}`;
                console.log(formData)

                const response = await fetch(editUrl, {
                    body: formData,
                    method: 'PUT'
                })


                if (!response.ok) {
                    Swal.fire({
                        icon: 'error',
                        title: '失敗',
                        text: '優惠券更新失敗，請檢查資料及格式是否正確',
                    });
                    return
                }
                await Swal.fire({
                    icon: 'success',
                    title: '成功',
                    text: '優惠券更新成功',
                });

                const result = await response.json();
                console.log(result);


            }
            else {
                form.reportValidity();
            }
        });

        $('#btnBack').on('click', function () {
            Swal.fire({
                title: '確定要返回主頁面?',
                showDenyButton: true,
                confirmButtonText: '取消',
                denyButtonText: `返回主頁面`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isDenied) {
                    location.href = `@Url.Content("~/CouponsBackstageSettings/Index")`;
                }
            })
        })

        $('#hrefHomePage').on('click', function () {
            Swal.fire({
                title: '確定要返回主頁面?',
                showDenyButton: true,
                confirmButtonText: '取消',
                denyButtonText: `返回主頁面`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isDenied) {
                    location.href = `@Url.Content("~/CouponsBackstageSettings/Index")`;
                }
            })
        })

        //demoAnswer
        $('#demoAnswer').click(e => {
            $('#CouponName').val('夏日清涼一夏感謝祭33好禮');
            $('#CouponStartDate').val('2023-08-25');
            $('#CouponEndDate').val('2023-08-30');
            $('#CouponDiscount').val('33');
        })

        //demoName
        $('#demoName').click(e => {
            $('#CouponName').val('');
            $('#CouponStartDate').val('2023-08-25');
            $('#CouponEndDate').val('2023-08-30');
            $('#CouponDiscount').val('77');
        })

        //demoDate
        $('#demoDate').click(e => {
            $('#CouponName').val('夏日清涼一夏感謝祭77好禮');
            $('#CouponStartDate').val('2023-09-30');
            $('#CouponEndDate').val('2023-08-30');
            $('#CouponDiscount').val('77');
        })

        //demoDiscount
        $('#demoDiscountNon').click(e => {
            $('#couponName').val('夏日清涼一夏感謝祭77好禮');
            $('#CouponStartDate').val('2023-08-25');
            $('#CouponEndDate').val('2023-08-30');
            $('#CouponDiscount').val('');
        })

        //demoDiscountOver
        $('#demoDiscountOver').click(e => {
            $('#CouponName').val('夏日清涼一夏感謝祭77好禮');
            $('#CouponStartDate').val('2023-08-25');
            $('#CouponEndDate').val('2023-08-30');
            $('#CouponDiscount').val('1999');
        })
    </script>
}
