@using MSIT147thGraduationTopic.Models.Dtos
@model (IEnumerable<CouponDto> listDiscountAll,IEnumerable<CouponDto> listRebateAll)
@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "優惠券管理系統";
}

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section class="py-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">優惠券管理系統</h1>
                <p class="lead fw-normal text-muted mb-0"></p>
            </div>
            <div class="container px-5 my-5 ">
                <div class="row justify-content-center">
                    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-Discount-tab" data-bs-toggle="pill" data-bs-target="#pills-Discount" type="button" role="tab" aria-controls="pills-Discount" aria-selected="true">打折券</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-Rebate-tab" data-bs-toggle="pill" data-bs-target="#pills-Rebate" type="button" role="tab" aria-controls="pills-Rebate" aria-selected="false">滿額送</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-Discount" role="tabpanel" aria-labelledby="pills-Discount-tab" tabindex="0">
                    <div class="container px-5 my-5 ">
                        <div class="row justify-content-center">
                            <div class="col-md-3 mb-3">
                                <label for="txtDiscountIdSearch">打折券ID搜尋</label>
                                <input type="text" id="txtDiscountIdSearch" name="txtDiscountIdSearch" class="form-control" placeholder="請輸入ID" />
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="txtDiscountNameSearch">打折優惠券名稱關鍵字</label>
                                <input type="text" id="txtDiscountNameSearch" name="txtDiscountNameSearch" class="form-control" placeholder="請輸入名稱關鍵字" />
                            </div>
                            @*<div class="col-md-3 mb-3">
                            <label for="selectDiscountStatus">優惠券狀態</label>
                            <select id="selectDiscountStatus" name="selectDiscountStatus" class="form-select">
                            <option></option>
                            <option value="" selected>全部</option>
                            <option value="upcoming">未開始</option>
                            <option value="active">進行中</option>
                            <option value="expired">已結束</option>
                            </select>
                            </div>*@
                            <div class="col-md-1 mb-3">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-primary form-control" id="btnDiscountSearch">搜尋</button>
                            </div>
                            <div class="col-md-1 mb-3">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-secondary form-control btnClear" id="btnDiscountClear">清空</button>
                            </div>
                        </div>
                    </div>

                    <div class="container px-5 my-5">
                        <h2 class="text-center">折價優惠券</h2>
                        <table class="table table-dark table-hover" id="tabDiscount">
                            <thead>
                                <tr>
                                    <th scope="col">序號</th>
                                    <th scope="col">優惠券名稱</th>
                                    <th scope="col">適用對象</th>
                                    <th scope="col">活動開始日期</th>
                                    <th scope="col">活動結束日期</th>
                                    <th scope="col">打折優惠</th>
                                    <th scope="col">修改</th>
                                    <th scope="col">刪除</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (CouponDto c in Model.listDiscountAll)
                                    {
                                        <tr>
                                            <td id="DiscountId" class="DiscountId" scope="col">@c.CouponId</td>
                                            <td id="DiscountName" class="DiscountId" scope="col">@c.CouponName</td>
                                            <td id="DiscountTagId" class="DiscountTagId" scope="col">@c.CouponTagId</td>
                                            <td id="DiscountStartDate" scope="col">@c.CouponStartDate.ToString("yyyy-MM-dd")</td>
                                            <td id="DiscountEndDate" scope="col">@c.CouponEndDate.ToString("yyyy-MM-dd")</td>
                                            <td id="DiscountValue" scope="col">@c.CouponDiscount.ToString("#'%'")</td>
                                            <td id="Discount" scope="col">
                                                <button type="button" id="btnEditDiscount_@c.CouponId" class="btn btn-success btnEditDiscount">
                                                    修改
                                                </button>
                                            </td>
                                            <td scope="col">
                                                <button type="button" id="btnDelete_@c.CouponId" class="btn btn-danger btnDelete">
                                                    刪除
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-Rebate" role="tabpanel" aria-labelledby="pills-Rebate-tab" tabindex="0">
                    <div class="container px-5 my-5 ">
                        <div class="row justify-content-center">
                            <div class="col-md-3 mb-3">
                                <label for="txtDiscountIdSearch">打折券ID搜尋</label>
                                <input type="text" id="txtRebateIdSearch" name="txtRebateIdSearch" class="form-control" placeholder="請輸入ID" />
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="txtDiscountNameSearch">打折優惠券名稱關鍵字</label>
                                <input type="text" id="txtRebateNameSearch" name="txtRebateNameSearch" class="form-control" placeholder="請輸入名稱關鍵字" />
                            </div>
                            @*<div class="col-md-3 mb-3">
                            <label for="selectRebateStatus">優惠券狀態</label>
                            <select id="selectRebateStatus" name="selectRebateStatus" class="form-select">
                            <option></option>
                            <option value="" selected>全部</option>
                            <option value="upcoming">未開始</option>
                            <option value="active">進行中</option>
                            <option value="expired">已結束</option>
                            </select>
                            </div>*@
                            <div class="col-md-1 mb-3">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-primary form-control" id="btnRebateSearch">搜尋</button>
                            </div>
                            <div class="col-md-1 mb-3">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-secondary form-control btnClear" id="btnRebateClear">清空</button>
                            </div>
                        </div>
                    </div>
                    <div class="container px-5 my-5">
                        <h2 class="text-center">滿額送優惠券</h2>
                        <form id="listOfRebate" name="listOfRebate" data-index="-1" class="needs-validation" novalidate>
                            <table class="table table-dark table-hover" id="tabRebate">
                                <thead>
                                    <tr>
                                        <th scope="col">序號</th>
                                        <th scope="col">優惠券名稱</th>
                                        <th scope="col">適用對象</th>
                                        <th scope="col">活動開始日期</th>
                                        <th scope="col">活動結束日期</th>
                                        <th scope="col">額度門檻</th>
                                        <th scope="col">折扣金額</th>
                                        <th scope="col">修改</th>
                                        <th scope="col">刪除</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        foreach (CouponDto c in Model.listRebateAll)
                                        {
                                            <tr>
                                                <td id="RebateId" class="RebateId" scope="col">@c.CouponId</td>
                                                <td id="RebateName" scope="col">@c.CouponName</td>
                                                <td id="RebateTagId" scope="col">@c.CouponTagId</td>
                                                <td id="RebateStartDate" scope="col">@c.CouponStartDate.ToString("yyyy-MM-dd")</td>
                                                <td id="RebateEndDate" scope="col">@c.CouponEndDate.ToString("yyyy-MM-dd")</td>
                                                <td id="RebateCondition" scope="col">@c.CouponCondition.GetValueOrDefault().ToString("#.##")</td>
                                                <td id="RebateDiscount" scope="col">@c.CouponDiscount.ToString("#.##")</td>
                                                <td scope="col">
                                                    <button type="button" id="btnEditRebate_@c.CouponId" class="btn btn-success btnEditRebate">
                                                        修改
                                                    </button>
                                                </td>
                                                <td scope="col">
                                                    <button type="button" id="btnDelete_@c.CouponId" class="btn btn-danger btnDelete">
                                                        刪除
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container px-5 my-5 text-center">
                <button class="btn btn-primary" id="btnCreate">新增</button>
            </div>
            <div class="my-3">
                <button class="btn btn-outline-secondary" id="demoID">demo</button>
            </div>
            @*<div class="my-3">
                <button class="btn btn-outline-secondary" id="demoName">demo</button>
            </div>*@
        </section>
        @*<section class="py-5 bg-light">
        <div class="container px-5 my-5">
        <div class="row">
        <div class="col">
        <span class="text-muted">目前資料筆數:0/0</span>
        </div>
        </div>
        </div>
        </section>*@
    </main>
    <!-- Footer-->
    
</body>


@section Styles{
    <style>
        #pills-tab {
            border-style: inset;
        }

        #pills-Discount-tab {
            margin: 5px;
        }

        #pills-Rebate-tab {
            margin: 5px;
        }

        .form-group {
            display: flex;
            margin-bottom: 1rem;
        }

            .form-group label {
                flex: 0 0 auto;
                margin-right: 1rem;
            }

            .form-group .form-select {
                margin-right: 0.5rem;
            }

        .row {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }

        .col-md-3,
        .col-md-1 {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    </style>
}

@section Scripts{
    <script>
        //#region TagId
        const tagIdMap = {
            0: "全部",
            1: "貓",
            2: "狗",
            3: "鼠",
            4: "兔"
        };

        $("#tabDiscount tbody tr").each(function () {
            const tagIdCell = $(this).find("#DiscountTagId");
            const numericTagId = tagIdCell.text().trim();
            const stringTagId = tagIdMap[numericTagId];

            tagIdCell.text(stringTagId);
        });

        $("#tabRebate tbody tr").each(function () {
            const tagIdCell = $(this).find("#RebateTagId");
            const numericTagId = tagIdCell.text().trim();
            const stringTagId = tagIdMap[numericTagId];

            tagIdCell.text(stringTagId);
        });
        //#endregion

        //#region ShowRabateDataSweetAlert
        function ShowRabateDataSweetAlert() {
            const couponRebateId = $('#txtRebateIdSearch').val();
            const couponName = $('#RebateName').text();
            const couponTagId = $('#RebateTagId').text();
            const couponStartDate = $('#RebateStartDate').text();
            const couponEndDate = $('#RebateEndDate').text();
            const couponCondition = $('#RebateCondition').text();
            const couponDiscount = $('#RebateDiscount').text();

            Swal.fire({
                title: '滿額送優惠券資訊',
                html:
                    `<b>ID序號：</b> ${couponRebateId}<br>` +
                    `<b>優惠券名稱：</b> ${couponName}<br>` +
                    `<b>適用對象：</b> ${couponTagId}<br>` +
                    `<b>開始日期：</b> ${couponStartDate}<br>` +
                    `<b>結束日期：</b> ${couponEndDate}<br>` +
                    `<b>消費門檻：<b/>${couponCondition}<br>` +
                    `<b>折扣：</b> ${couponDiscount}`,
                icon: 'info',
                showDenyButton: true,
                denyButtonText: `修改`,
            }).then((result) => {
                if (result.isDenied) {
                    const editUrl = `@Url.Content("~/CouponsBackstageSettings/RebateEdit/")${couponRebateId}`;
                    console.log(couponRebateId);
                    location.href = editUrl;
                }
            })
        }
        //#endregion

        //#region NoIdDataSweetAlert
        function NoIdDataSweetAlert() {
            swal.fire({
                title: '出了點問題...',
                text: '查無id，請再次確認id是否正確',
                icon: 'warning',
            });
        }
        //#endregion

        //#region NoNameDataSweetAlert
        function NoNameDataSweetAlert() {
            swal.fire({
                title: '出了點問題...',
                text: '查無名稱關鍵字，請再次確認名稱關鍵字是否正確',
                icon: 'warning',
            });
        }
        //#endregion

        //#region ConditionSweetAlert
        function ConditionSweetAlert() {
            Swal.fire({
                title: '出了點問題...',
                text: '沒有符合條件的資料',
                icon: 'info',
            })
        }
        //#endregion

        //#region 頁面開啟執行
        $(document).ready(function () {
            $('#txtDiscountIdSearch,#txtDiscountNameSearch,#txtRebateIdSearch,#txtRebateNameSearch,#selectDiscountStatus,#selectRebateStatus').val('');
        });
        //#endregion

        //#region 清空按鈕
        $('.btnClear').click(function () {
            $('#txtDiscountIdSearch,#txtDiscountNameSearch,#txtRebateIdSearch,#txtRebateNameSearch,#selectDiscountStatus,#selectRebateStatus').val('');
        })
        //#endregion

        //#region 打折搜尋按鈕
        $('#btnDiscountSearch').click(function () {

            console.log('test')
            const couponDiscountId = $('#txtDiscountIdSearch').val();
            const searchKeyword = $('#txtDiscountNameSearch').val().trim().toLowerCase();

            if (!couponDiscountId && !searchKeyword) {
                Swal.fire({
                    title: '請輸入查詢條件',
                    icon: 'info',
                });
            }

            const discountIDs = [...document.querySelectorAll('.DiscountId')]

            let comparedId

            for (let i = 0; i < discountIDs.length; i++) {
                if (discountIDs[i].textContent == couponDiscountId) {
                    comparedId = discountIDs[i]
                    break
                }
            }

            if (!comparedId && couponDiscountId) {
                NoIdDataSweetAlert();
                return; 
            }

            if (!comparedId) {
                NoIdDataSweetAlert();
            }

            const couponId = $(comparedId).text();
            const couponName = $(comparedId).closest('tr').find('#DiscountName').text();
            const couponTagId = $(comparedId).closest('tr').find('#DiscountTagId').text();
            const couponStartDate = $(comparedId).closest('tr').find('#DiscountStartDate').text();
            const couponEndDate = $(comparedId).closest('tr').find('#DiscountEndDate').text();
            const couponDiscount = $(comparedId).closest('tr').find('#DiscountValue').text();

            couponInfo = `<b>ID序號：</b> ${couponId}<br>` +
                `<b>優惠券名稱：</b> ${couponName}<br>` +
                `<b>適用對象：</b> ${couponTagId}<br>` +
                `<b>開始日期：</b> ${couponStartDate}<br>` +
                `<b>結束日期：</b> ${couponEndDate}<br>` +
                `<b>折扣：</b> ${couponDiscount}<br><br>`;


            Swal.fire({
                title: '匹配的打折優惠券資訊',
                html: couponInfo,
                icon: 'info',
            });

            //const matchingCoupons = $('#tabDiscount #DiscountName').filter((index, element) =>
            //    $(element).text().toLowerCase().includes(searchKeyword)
            //);

            //if (matchingCoupons.length === 0) {
            //    NoNameDataSweetAlert();
            //} else {
            //    let couponInfo = ''; 
            //    matchingCoupons.each((index, element) => {
            //        const couponId = $(element).closest('tr').find('#DiscountId').text();
            //        const couponName = $(element).text();
            //        const couponTagId = $(element).closest('tr').find('#DiscountTagId').text();
            //        const couponStartDate = $(element).closest('tr').find('#DiscountStartDate').text();
            //        const couponEndDate = $(element).closest('tr').find('#DiscountEndDate').text();
            //        const couponDiscount = $(element).closest('tr').find('#DiscountValue').text();

            //        couponInfo += `<b>ID序號：</b> ${couponId}<br>` +
            //            `<b>優惠券名稱：</b> ${couponName}<br>` +
            //            `<b>適用對象：</b> ${couponTagId}<br>` +
            //            `<b>開始日期：</b> ${couponStartDate}<br>` +
            //            `<b>結束日期：</b> ${couponEndDate}<br>` +
            //            `<b>折扣：</b> ${couponDiscount}<br><br>`;
            //    });

            //    Swal.fire({
            //        title: '匹配的打折優惠券資訊',
            //        html: couponInfo,
            //        icon: 'info',
            //    });
            //}
        });
        //#endregion

        //#region 滿額送搜尋按鈕
        $('#btnRebateSearch').click(function () {
            const couponRebateId = $('#txtRebateIdSearch').val();
            const rebateIdValue = $('#RebateId').text();
            const searchKeyword = $('#txtRebateNameSearch').val();
            const couponNameElements = $('#tabRebate #RebateName');
            const matchingCoupons = couponNameElements.filter((index, element) =>
                $(element).text().match(searchKeyword)
            );

            if (!couponRebateId && !searchKeyword) {
                Swal.fire({
                    title: '請輸入查詢條件',
                    icon: 'info',
                });
            }

            const rebateIDs = [...document.querySelectorAll('.RebateId')]

            let comparedId

            for (let i = 0; i < rebateIDs.length; i++) {
                if (rebateIDs[i].textContent == couponRebateId) {
                    comparedId = rebateIDs[i]
                    break
                }
            }

            if (!comparedId && couponRebateId) {
                NoIdDataSweetAlert();
                return;
            }

            if (!comparedId) {
                NoIdDataSweetAlert();
            }

            const couponId = $(comparedId).text();
            const couponName = $(comparedId).closest('tr').find('#RebateName').text();
            const couponTagId = $(comparedId).closest('tr').find('#RebateTagId').text();
            const couponStartDate = $(comparedId).closest('tr').find('#RebateStartDate').text();
            const couponEndDate = $(comparedId).closest('tr').find('#RebateEndDate').text();
            const couponCondition = $(comparedId).closest('tr').find('#RebateCondition').text();
            const couponDiscount = $(comparedId).closest('tr').find('#RebateDiscount').text();

            couponInfo = `<b>ID序號：</b> ${couponId}<br>` +
                `<b>優惠券名稱：</b> ${couponName}<br>` +
                `<b>適用對象：</b> ${couponTagId}<br>` +
                `<b>開始日期：</b> ${couponStartDate}<br>` +
                `<b>結束日期：</b> ${couponEndDate}<br>` +
                `<b>消費門檻：</b> ${couponCondition}<br>` +
                `<b>折扣：</b> ${couponDiscount}<br><br>`;


            Swal.fire({
                title: '匹配的打折優惠券資訊',
                html: couponInfo,
                icon: 'info',
            });

            //if (searchKeyword) {
            //    if (matchingCoupons.length === 0) {
            //        NoNameDataSweetAlert();
            //    } else {
            //        let couponInfo = '';
            //        matchingCoupons.each((index, element) => {
            //            const couponId = $(element).closest('tr').find('#RebateId').text();
            //            const couponName = $(element).text();
            //            const couponTagId = $(element).closest('tr').find('#RebateTagId').text();
            //            const couponStartDate = $(element).closest('tr').find('#RebateStartDate').text();
            //            const couponEndDate = $(element).closest('tr').find('#RebateEndDate').text();
            //            const couponCondition = $(element).closest('tr').find('#RebateCondition').text();
            //            const couponDiscount = $(element).closest('tr').find('#RebateDiscount').text();

            //            couponInfo += `<b>ID序號：</b> ${couponId}<br>` +
            //                `<b>優惠券名稱：</b> ${couponName}<br>` +
            //                `<b>適用對象：</b> ${couponTagId}<br>` +
            //                `<b>開始日期：</b> ${couponStartDate}<br>` +
            //                `<b>結束日期：</b> ${couponEndDate}<br>` +
            //                `<b>消費門檻：</b> ${couponCondition}<br>` +
            //                `<b>折扣金額：</b> ${couponDiscount}<br><br>`;
            //        });

            //        Swal.fire({
            //            title: '匹配的打折優惠券資訊',
            //            html: couponInfo,
            //            icon: 'info',
            //        });
            //    }
            //}
        });
        //#endregion

        //#region 打折修改按鈕
        $('.btnEditDiscount').click(function () {
            const couponId = $(this).closest('tr').find('td:eq(0)').text();
            const editUrl = `@Url.Content("~/CouponsBackstageSettings/DiscountEdit/")${couponId}`;
            console.log(couponId);
            location.href = editUrl;
        })
        //#endregion

        //#region 滿額送修改按鈕
        $('.btnEditRebate').click(function () {
            const couponId = $(this).closest('tr').find('td:eq(0)').text();
            const editUrl = `@Url.Content("~/CouponsBackstageSettings/RebateEdit/")${couponId}`;
            console.log(couponId);
            location.href = editUrl;
        })
        //#endregion

        //#region 刪除
        $('.btnDelete').click(function () {
            const couponId = $(this).closest('tr').find('td:eq(0)').text();
            const deleteUrl = `@Url.Content("~/api/apicoupon/")${couponId}`;

            Swal.fire({
                title: '確定要刪除優惠券？',
                text: '優惠券資料將被移除',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#FF2D2D',
                cancelButtonColor: '#019858',
                confirmButtonText: '刪除',
                cancelButtonText: '取消',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: deleteUrl,
                        type: 'DELETE',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-TOKEN', $('meta[name="csrf-token"]').attr('content'));
                        },
                        success: function (data) {
                            console.log(data);
                            Swal.fire('刪除成功', '資料已刪除', '確認').then(() => {
                                location.reload();
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                            Swal.fire('刪除失敗', '資料刪除失敗', '確認');
                        }
                    });
                }
            });
        })
        //#endregion

        //#region 新增
        $('#btnCreate').click(function () {
            Swal.fire({
                title: '新增優惠券',
                text: '您想要新增哪種券',
                icon: 'question',
                showDenyButton: true,
                confirmButtonColor: '#FF2D2D',
                cancelButtonColor: '#019858',
                confirmButtonText: '打折券',
                denyButtonText: '滿額送',
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = `@Url.Content("~/CouponsBackstageSettings/DisCountCreate")`;
                }
                else if (result.isDenied) {
                    location.href = `@Url.Content("~/CouponsBackstageSettings/RebateCreate")`;
                }
            });
        })
                                                                //#endregion
    </script>
}